mixin icon(url, width, height)
  - height = height || width
  svg(viewBox="0 0 " + width + ' ' + height, class="icon", width=width, height=height)
    use(xlink:href="/icons.svg#" + url)

doctype html
html
  head
    meta(charset="utf-8")
    title= "About"
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,400i,600i' rel='stylesheet' type='text/css')
    link(href='/course.css', rel='stylesheet')
    link(href='/prism.css', rel='stylesheet')

    style.
      html, body { margin: 0; height: 100%; width: 100%; display: flex; background: #242436; justify-content: left; align-items: center; font-family: "Source Sans Pro", sans-serif; color: white; text-align: left; }

  body

    header
      a(href="/" id="logo")
        +icon('datalogo', 36, 72)
        +icon('datatitle', 188, 36)

    .body
      p Data Gymnasia is brought to you by [Samuel S. Watson](http://sswatson.com) and the [Brown University](https://www.brown.edu) <a href="http://dsi.brown.edu">Data Science Initiative</a>.