doctype html
html
  head
    meta(charset="utf-8")
    title Data Gymnasia
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,400i,600i', rel='stylesheet', type='text/css')

    style.
      html, body { margin: 0; height: 100%; width: 100%; display: flex; background: #242436; justify-content: center; align-items: center; font-family: "Source Sans Pro", sans-serif; color: white; text-align: center; }
      svg { margin: 0 auto; display: block; }
      h1 { font-size: 44px; }
      p.subtext {margin-top: -20px; }
      p.about {margin-top: 80px; }
      h2 { font-size: 32px; font-weight: 400; opacity: 0.6; }
      a.course { display: inline-block; background: #ccc; border-radius: 4px; padding: 8px 12px; color: #242436; }
      a {color: #eee}
      a:hover { background: #aaa; }

  body
    
    #body
      svg(viewBox="-12 -100 156 256" , class="icon", width=200)
        use(xlink:href="/icons.svg#datalogo")
      h1 Data Gymnasia
      p.subtext: em powered by <a href="https://mathigon.io">Mathigon</a>
      h2 Courses
      p: a.course(href="course/sets-and-functions" target="_blank") Sets and Functions
      p: a.course(href="course/python-programming" target="_blank") Programming in Python
      p.about: a(href="about") About      
