// =============================================================================
// Quill Component Styles
// =============================================================================


x-quill {
  display: block;
  position: relative;
  margin: 1.5em 0;

  .ql-toolbar.ql-snow { padding: 4px 12px; border-radius: 4px 4px 0 0; background: #eee; }
  .ql-container.ql-snow { font-family: inherit; font-size: 16px; border-radius: 0 0 4px 4px; }
  .ql-editor { padding: 16px 16px 44px 16px; }

  .btn { position: absolute; bottom: 12px; right: 12px; font-size: 16px; }
}
