// =============================================================================
// Shared Data Gymnasia Styles
// =============================================================================


@import "@mathigon/studio/frontend/styles/variables";
@import "./components/quill";
@import "./components/chart";


.juniper-cell, code, pre, x-step code {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.exercise, .example, .definition {
  padding: .6em 1em;
  color: rgba(0, 0, 0, .75);
  margin: 1.5em 0;
  border-radius: 2px 4px 4px 2px;

  p:last-child, ul:last-child { margin-bottom: 0; }
  &:first-child { margin-top: 0; }
  .caption { color: rgba(0, 0, 0, .4); }
}

.theorem {
  background: #fbedf6;
  border: 1px solid #b30469;
  border-left: 6px solid #b30469;
}

.exercise {
  background: #f5fefa;
  border: 1px solid #2a9659;
  border-left: 6px solid #2a9659;
}

.example {
  background: #f7ece1;
  border: 1px solid #d8954b;
  border-left: 6px solid #d8954b;
}

.definition {
  background: #c0d6f9;
  border: 1px solid #2667cc;
  border-left: 6px solid #2667cc;
}

x-picker .item {
  display: block;
}

// Fixes MathJax spacing issues:
p { hanging-punctuation: none; }

// Fixes bold text on multiple choice questions
.choice strong {
  color: white;
}
// Fixes code text color on selection questions
.pill code {
  color: white;
}

.popup code {
  color: white;
}

x-picker .item.pill.bblue {
  background: $blue;
  &:not(.correct):not(.incorrect):hover { background: darken($blue, 15%); }
  &:after { border-width: 2px; margin: 2px; }
}

x-step code {
  background: transparent;
  border: none;
}

.video-wrap {
  background: black;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  iframe { @include fillParent; }
}


// -----------------------------------------------------------------------------
// Juniper Notebooks

.CodeMirror pre { margin: 0; }

.juniper-cell {
  border: 1px solid $border-light;
  border-radius: 4px;
  margin: 1.5em 0;
  line-height: 1.8;
  overflow: hidden;
  font-size: 15px;
  .CodeMirror { padding: .6em 1em; }
  pre {color: #555}
}

.juniper-output {
  background: #eee;
  padding: .6em 1em;
  white-space: pre-wrap;
  border-top: 1px solid $border-light;
  min-height: 27px;
  color: inherit;
}

.juniper-button {
  @include button;
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 16px;
  z-index: 10;
  padding: 0 1.1em;
  height: 2em;
  line-height: 2em;
  font-weight: 600;
  letter-spacing: .2px;
  background-color: $green;
  transition: transform .4s $bounce, background .2s, color .2s, box-shadow .2s;
  &:active { transition: transform .2s, background .2s, color .2s, box-shadow .2s; transform: scale(0.9); }
  &:hover, &:focus, &:active { background-color: lighten($green, 8%); }
}


// -----------------------------------------------------------------------------
// Prism.css
// VS theme by Andrew Lock (https://andrewlock.net)
// Inspired by Visual Studio syntax coloring

code[class*="language-"],
pre[class*="language-"] {
  color: #393A34;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  font-size: 0.9em;
  line-height: 1.2em;
  tab-size: 4;
  hyphens: none;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  background: #C1DEF1;
}

pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 4px;
}

:not(pre) > code[class*="language-"] {
  padding: .2em;
  padding-top: 1px; padding-bottom: 1px;
}

pre > code[class*="language-"] {
  padding: 0;
  border: 0;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #008000; font-style: italic;
}

.token.namespace {
  opacity: .7;
}

.token.string {
  color: #A31515;
}

.token.punctuation,
.token.operator {
  color: #393A34; /* no highlight */
}

.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.inserted {
  color: #36acaa;
}

.token.atrule,
.token.keyword,
.token.attr-value,
.language-autohotkey .token.selector,
.language-json .token.boolean,
.language-json .token.number,
code[class*="language-css"]{
  color: #0000ff;
}

.token.function {
  color: #393A34;
}
.token.deleted,
.language-autohotkey .token.tag {
  color: #9a050f;
}

.token.selector,
.language-autohotkey .token.keyword {
  color: #00009f;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.class-name,
.language-json .token.property {
  color: #2B91AF;
}

.token.tag,
.token.selector {
  color: #800000;
}

.token.attr-name,
.token.property,
.token.regex,
.token.entity {
  color: #ff0000;
}

.token.directive.tag  .tag {
  background: #ffff00;
  color: #393A34;
}

.line-numbers .line-numbers-rows {
  border-right-color: #a5a5a5;
}

.line-numbers-rows > span:before {
  color: #2B91AF;
}

.line-highlight {
  background: rgba(193, 222, 241, 0.2);
  background: linear-gradient(to right, rgba(193, 222, 241, 0.2) 70%, rgba(221, 222, 241, 0));
}
